{% extends "layouts/base.html" %}


{% block event_input %}
  {{ super() }}
  {# set modal_title = "Subscription Plans" #}
  
  {% include "chunks/subscription_side_modal.html" %}

{% endblock event_input %}

{% block navigation %}
  <div slide_nav_container>
    {% include "chunks/nav.html" %}
    {% include "chunks/slides.html" %}
  </div>

{% endblock navigation %}

{% block content %}

  {{ super() }}     
    
  <!-- call to the slider -->
  
  

  <!-- static example of the subscription template -->
  
{% endblock content %}